// by Jake Bresnehan @https://web-design-weekly.com/2013/05/12/handy-sass-mixins/
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// ********************
// based on fadeIn by Chase Woodford @https://gist.github.com/chasewoodford/2939636
// ********************
$prefix:'-moz-', '-webkit-', '-o-', '-ms-', '';
@mixin keyframe-fadeIn {
  0%   { background-color: transparent; }
  100% { background-color: $darkgray; }
}
@-moz-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-webkit-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-o-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-ms-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@keyframes fadeIn {
  @include keyframe-fadeIn;
}
@mixin fadeIn( $arg ) {
  $keyframe-name:fadeIn;
  $duration:$arg;
  @each $p in $prefix {
    #{$p}animation:$keyframe-name $duration;
  }
}

//Circle anim based on the above
@mixin keyframe-grow {
	0%	{ width: 200px; height: 200px; }
	50% { width: 350px; height: 350px; }
	100% { width: 200px; height: 200px; }
}
@-moz-keyframes grow {
  @include keyframe-grow;
}
@-webkit-keyframes grow {
  @include keyframe-grow;
}
@-o-keyframes grow {
  @include keyframe-grow;
}
@-ms-keyframes grow {
  @include keyframe-grow;
}
@keyframes grow {
  @include keyframe-grow;
}
@mixin circleGrow( $arg ) {
  $keyframe-name:grow;
  $duration:$arg;
  @each $p in $prefix {
    #{$p}animation:$keyframe-name $duration infinite;
  }
}

//Bell swinging anim
@mixin keyframe-swing {
	0%	{ transform:rotate(-30deg);}
	50% { transform:rotate(30deg);}
	100% { transform:rotate(-30deg);}
}
@-moz-keyframes swing {
  @include keyframe-swing;
}
@-webkit-keyframes swing {
  @include keyframe-swing;
}
@-o-keyframes swing {
  @include keyframe-swing;
}
@-ms-keyframes swing {
  @include keyframe-swing;
}
@keyframes swing {
  @include keyframe-swing;
}
@mixin bellSwing( $arg ) {
  $keyframe-name:swing;
  $duration:$arg;
  @each $p in $prefix {
  	//Swing point center top of bell
  	#{$p}transform-origin: center top;
    #{$p}animation:$keyframe-name $duration infinite;
  }
}