@import "variables";
@import "mixins";

$default-text-color: $black !default;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $white;
  font-family: $font-stack;
}

#Title {
  @include center-block;
  color: $orange;
  width: 550px;
  h1 {
    margin: 0 0 0 0;
    padding: 3px;
    font-size: 80px;
    font-weight: normal;
    display: inline-block;
  }
  button {
    display: inline-block;
    font-size: 25px;
    margin-left: 20px;
    position: relative;
    bottom: 10px;
    //margin-bottom: 50px;
  }
}

ul.nav {
  @include center-block;
  padding: 3px;
  width: 817px; //make this and other widths not hardcoded??
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: $gray;
  border-radius: 6px;
  margin-top: 0;
  li {
    font-size: 40px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: -1px;
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
    a {
      color: $black;
      text-decoration: none;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0;
      border: solid;
      border-width: 2px;
      &:hover {
        @include fadeIn(0.5s);
        background-color: $darkgray;
        overflow: hidden;
      }
    }
  }
}

#Timer {
  @include center-block;
  text-align: center;
  width: 200px;
  padding-top: 75px;
  h1 {
    font-size: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  form {
    input {
      font-size: 18px;
      width: 35px;
    }
  }
  #topcircle {
    background-color: $orange;
    border-radius: 50%;
    position: absolute;
    top: 350px;
    left: 50%;
    width: 200px; 
    height: 200px;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  #botcircle {
    //@include center-block;
    @include circleGrow(8s);
    background-color: $lightorange;
    border-radius: 50%;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
  }
}

img {
  margin-left: 20px;
}

#swinging {
  @include bellSwing(1s);
}

#map { 
  position: absolute;
  top: 190px;
  left: 60px;
  width: 60%;
  height: 70%; 
  margin-bottom: 20px;
}

.info {
  position: absolute;
  top: 190px;
  left: 60%;
  width: 25%;
  height: 100%; 
  margin-bottom: 20px;
  margin-left: 75px;
  font-size: 20px;
  line-height: 30px;
}

table {
  margin: auto;
  width: 1050px;
  tr {
    td {
      h1 {
        padding: 0;
        margin: 0;
        text-align: center;
        font-weight: normal;
      }
      hr {
        width: 90%;
        margin-bottom: 20px;
      }
      iframe {
        margin: auto;
        display: block;
        padding-bottom: 15px;
      }
    }
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #f00;
  padding: 0.2em 0;
}

//Map stuff copied from @https://developers.google.com/maps/documentation/javascript/examples/places-searchbox
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}