@-moz-keyframes fadeIn {
  0% {
    background-color: transparent; }
  100% {
    background-color: #bbb; } }
@-webkit-keyframes fadeIn {
  0% {
    background-color: transparent; }
  100% {
    background-color: #bbb; } }
@-o-keyframes fadeIn {
  0% {
    background-color: transparent; }
  100% {
    background-color: #bbb; } }
@-ms-keyframes fadeIn {
  0% {
    background-color: transparent; }
  100% {
    background-color: #bbb; } }
@keyframes fadeIn {
  0% {
    background-color: transparent; }
  100% {
    background-color: #bbb; } }
@-moz-keyframes grow {
  0% {
    width: 200px;
    height: 200px; }
  50% {
    width: 350px;
    height: 350px; }
  100% {
    width: 200px;
    height: 200px; } }
@-webkit-keyframes grow {
  0% {
    width: 200px;
    height: 200px; }
  50% {
    width: 350px;
    height: 350px; }
  100% {
    width: 200px;
    height: 200px; } }
@-o-keyframes grow {
  0% {
    width: 200px;
    height: 200px; }
  50% {
    width: 350px;
    height: 350px; }
  100% {
    width: 200px;
    height: 200px; } }
@-ms-keyframes grow {
  0% {
    width: 200px;
    height: 200px; }
  50% {
    width: 350px;
    height: 350px; }
  100% {
    width: 200px;
    height: 200px; } }
@keyframes grow {
  0% {
    width: 200px;
    height: 200px; }
  50% {
    width: 350px;
    height: 350px; }
  100% {
    width: 200px;
    height: 200px; } }
@-moz-keyframes swing {
  0% {
    transform: rotate(-30deg); }
  50% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(-30deg); } }
@-webkit-keyframes swing {
  0% {
    transform: rotate(-30deg); }
  50% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(-30deg); } }
@-o-keyframes swing {
  0% {
    transform: rotate(-30deg); }
  50% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(-30deg); } }
@-ms-keyframes swing {
  0% {
    transform: rotate(-30deg); }
  50% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(-30deg); } }
@keyframes swing {
  0% {
    transform: rotate(-30deg); }
  50% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(-30deg); } }
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

#Title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #FF8000;
  width: 550px; }
  #Title h1 {
    margin: 0 0 0 0;
    padding: 3px;
    font-size: 80px;
    font-weight: normal;
    display: inline-block; }
  #Title button {
    display: inline-block;
    font-size: 25px;
    margin-left: 20px;
    position: relative;
    bottom: 10px; }

ul.nav {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  width: 817px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  margin-top: 0; }
  ul.nav li {
    font-size: 40px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: -1px;
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 0; }
    ul.nav li a {
      color: #444;
      text-decoration: none;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0;
      border: solid;
      border-width: 2px; }
      ul.nav li a:hover {
        -moz-animation: fadeIn 0.5s;
        -webkit-animation: fadeIn 0.5s;
        -o-animation: fadeIn 0.5s;
        -ms-animation: fadeIn 0.5s;
        animation: fadeIn 0.5s;
        background-color: #bbb;
        overflow: hidden; }

#Timer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
  padding-top: 75px; }
  #Timer h1 {
    font-size: 50px;
    padding-bottom: 0;
    margin-bottom: 0; }
  #Timer form input {
    font-size: 18px;
    width: 35px; }
  #Timer #topcircle {
    background-color: #FF8000;
    border-radius: 50%;
    position: absolute;
    top: 350px;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    z-index: -1; }
  #Timer #botcircle {
    -moz-animation: grow 8s infinite;
    -webkit-animation: grow 8s infinite;
    -o-animation: grow 8s infinite;
    -ms-animation: grow 8s infinite;
    animation: grow 8s infinite;
    background-color: #FFB366;
    border-radius: 50%;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2; }

img {
  margin-left: 20px; }

#swinging {
  -moz-transform-origin: center top;
  -moz-animation: swing 1s infinite;
  -webkit-transform-origin: center top;
  -webkit-animation: swing 1s infinite;
  -o-transform-origin: center top;
  -o-animation: swing 1s infinite;
  -ms-transform-origin: center top;
  -ms-animation: swing 1s infinite;
  transform-origin: center top;
  animation: swing 1s infinite; }

#map {
  position: absolute;
  top: 190px;
  left: 60px;
  width: 60%;
  height: 70%;
  margin-bottom: 20px; }

.info {
  position: absolute;
  top: 190px;
  left: 60%;
  width: 25%;
  height: 100%;
  margin-bottom: 20px;
  margin-left: 75px;
  font-size: 20px;
  line-height: 30px; }

table {
  margin: auto;
  width: 1050px; }
  table tr td h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: normal; }
  table tr td hr {
    width: 90%;
    margin-bottom: 20px; }
  table tr td iframe {
    margin: auto;
    display: block;
    padding-bottom: 15px; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #f00;
  padding: 0.2em 0; }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px; }

#pac-input:focus {
  border-color: #4d90fe; }

.pac-container {
  font-family: Roboto; }

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px; }

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }